In [4]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
import random
from scipy.stats import linregress

In [5]:
# Study data files
worldinternet_path = "internet_users.csv"

In [6]:
worldinternet_results = pd.read_csv(worldinternet_path)

In [7]:
worldinternet_results.shape

(215, 6)

In [8]:
worldinternet_results.head()

  Country or Area Internet Users     Population  Rank Percentage Rank.1
0           China    765,367,947  1,409,517,397     1     54.30%    116
1           India    461,347,554  1,339,180,127     2     34.45%    145
2   United States    244,090,854    324,459,463     3     75.23%     68
3          Brazil    141,206,801    209,288,278     4     67.47%     83
4           Japan    115,845,120    127,484,450     5     90.87%     23

In [9]:
# Study data files
worldbank_path = "world_bank.csv"

In [10]:
worldbank_results = pd.read_csv(worldbank_path)

In [11]:
worldbank_results.shape

(265, 6)

In [12]:
worldbank_results.head()

,Economy,Code,Region,Income group,Lending category,Other (EMU or HIPC)
0,Aruba,ABW,Latin America & Caribbean,High income,NaN,NaN
1,Afghanistan,AFG,South Asia,Low income,IDA,HIPC
2,Angola,AGO,Sub-Saharan Africa,Lower middle income,IBRD,NaN
3,Albania,ALB,Europe & Central Asia,Upper middle income,IBRD,NaN
4,Andorra,AND,Europe & Central Asia,High income,NaN,NaN

In [13]:
world_overview = pd.merge(worldinternet_results, worldbank_results, left_on='Country or Area', right_on='Economy', how='inner')

In [14]:
world_overview

,Country or Area,Internet Users,Population,Rank,Percentage,Rank.1,Economy,Code,Region,Income group,Lending category,Other (EMU or HIPC)
0,China,"765,367,947","1,409,517,397",1,54.30%,116,China,CHN,East Asia & Pacific,Upper middle income,IBRD,NaN
1,India,"461,347,554","1,339,180,127",2,34.45%,145,India,IND,South Asia,Lower middle income,IBRD,NaN
2,United States,"244,090,854","324,459,463",3,75.23%,68,United States,USA,North America,High income,NaN,NaN
3,Brazil,"141,206,801","209,288,278",4,67.47%,83,Brazil,BRA,Latin America & Caribbean,Upper middle income,IBRD,NaN
4,Japan,"115,845,120","127,484,450",5,90.87%,23,Japan,JPN,East Asia & Pacific,High income,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
173,San Marino,"20,100","33,400",204,60.18%,102,San Marino,SMR,Europe & Central Asia,High income,NaN,NaN
174,Kiribati,"16,971","116,398",205,14.58%,185,Kiribati,KIR,East Asia & Pacific,Lower middle income,IDA,NaN
175,British Virgin Islands,"14,456","31,196",206,37.60% (2012),141,British Virgin Islands,VGB,Latin America & Caribbean,High income,NaN,NaN
176,Nauru,"6,475","11,359",208,57.00%,110,Nauru,NRU,East Asia & Pacific,High income,IBRD,NaN
177,Tuvalu,"5,520","11,192",209,49.32%,124,Tuvalu,TUV,East Asia & Pacific,Upper middle income,IDA,NaN

In [15]:
geoJSON_path = "world_bank.csv"
geoJSON_results = pd.read_csv(geoJSON_path)

In [18]:
geoJSON_results.head()

,geojson,featurecla,scalerank,LABELRANK,SOVEREIGNT,SOV_A3,ADM0_DIF,LEVEL,TYPE,ADMIN,...,NAME_JA,NAME_KO,NAME_NL,NAME_PL,NAME_PT,NAME_RU,NAME_SV,NAME_TR,NAME_VI,NAME_ZH
0,"{""type"":""MultiPolygon"",""coordinates"":[[[[180,-...",Admin-0 country,1,6,Fiji,FJI,0,2,Sovereign country,Fiji,...,ãƒ•ã‚£ã‚¸ãƒ¼,í”¼ì§€,Fiji,FidÅ¼i,Fiji,Ð¤Ð¸Ð´Ð¶Ð¸,Fiji,Fiji,Fiji,æ–æ¿Ÿ
1,"{""type"":""MultiPolygon"",""coordinates"":[[[[33.90...",Admin-0 country,1,3,United Republic of Tanzania,TZA,0,2,Sovereign country,United Republic of Tanzania,...,ã‚¿ãƒ³ã‚¶ãƒ‹ã‚¢,íƒ„ìžë‹ˆì•„,Tanzania,Tanzania,TanzÃ¢nia,Ð¢Ð°Ð½Ð·Ð°Ð½Ð¸Ñ,Tanzania,Tanzanya,Tanzania,å¦æ¡‘å°¼äºš
2,"{""type"":""MultiPolygon"",""coordinates"":[[[[-8.66...",Admin-0 country,1,7,Western Sahara,SAH,0,2,Indeterminate,Western Sahara,...,è¥¿ã‚µãƒãƒ©,ì„œì‚¬í•˜ë¼,Westelijke Sahara,Sahara Zachodnia,Saara Ocidental,Ð—Ð°Ð¿Ð°Ð´Ð½Ð°Ñ Ð¡Ð°Ñ…Ð°Ñ€Ð°,VÃ¤stsahara,BatÄ± Sahra,TÃ¢y Sahara,è¥¿æ’’å“ˆæ‹‰
3,"{""type"":""MultiPolygon"",""coordinates"":[[[[-122....",Admin-0 country,1,2,Canada,CAN,0,2,Sovereign country,Canada,...,ã‚«ãƒŠãƒ€,ìºë‚˜ë‹¤,Canada,Kanada,CanadÃ¡,ÐšÐ°Ð½Ð°Ð´Ð°,Kanada,Kanada,Canada,åŠ æ‹¿å¤§
4,"{""type"":""MultiPolygon"",""coordinates"":[[[[-122....",Admin-0 country,1,2,United States of America,US1,1,2,Country,United States of America,...,ã‚¢ãƒ¡ãƒªã‚«åˆè¡†å›½,ë¯¸êµ­,Verenigde Staten van Amerika,Stany Zjednoczone,Estados Unidos,Ð¡Ð¾ÐµÐ´Ð¸Ð½Ñ‘Ð½Ð½Ñ‹Ðµ Ð¨Ñ‚Ð°Ñ‚Ñ‹ ÐÐ¼ÐµÑ€Ð¸ÐºÐ¸,USA,Amerika BirleÅŸik Devletleri,Hoa Ká»³,ç¾Žå›½

In [19]:
compilation_df = world_overview = pd.merge(world_overview, geoJSON_results, left_on='Country or Area', right_on='SOVEREIGNT', how='left')

In [20]:
compilation_df

,Country or Area,Internet Users,Population,Rank,Percentage,Rank.1,Economy,Code,Region,Income group,...,NAME_JA,NAME_KO,NAME_NL,NAME_PL,NAME_PT,NAME_RU,NAME_SV,NAME_TR,NAME_VI,NAME_ZH
0,China,"765,367,947","1,409,517,397",1,54.30%,116,China,CHN,East Asia & Pacific,Upper middle income,...,ä¸­è¯äººæ°‘å…±å’Œå›½,ì¤‘í™”ì¸ë¯¼ê³µí™”êµ­,Volksrepubliek China,ChiÅ„ska Republika Ludowa,China,ÐšÐ¸Ñ‚Ð°Ð¹ÑÐºÐ°Ñ ÐÐ°Ñ€Ð¾Ð´Ð½Ð°Ñ Ð ÐµÑÐ¿Ñƒ...,Kina,Ã‡in Halk Cumhuriyeti,Cá»™ng hÃ²a NhÃ¢n dÃ¢n Trung Hoa,ä¸­åŽäººæ°‘å…±å’Œå›½
1,India,"461,347,554","1,339,180,127",2,34.45%,145,India,IND,South Asia,Lower middle income,...,ã‚¤ãƒ³ãƒ‰,ì¸ë„,India,Indie,Ãndia,Ð˜Ð½Ð´Ð¸Ñ,Indien,Hindistan,áº¤n Äá»™,å°åº¦
2,United States,"244,090,854","324,459,463",3,75.23%,68,United States,USA,North America,High income,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Brazil,"141,206,801","209,288,278",4,67.47%,83,Brazil,BRA,Latin America & Caribbean,Upper middle income,...,ãƒ–ãƒ©ã‚¸ãƒ«,ë¸Œë¼ì§ˆ,BraziliÃ«,Brazylia,Brasil,Ð‘Ñ€Ð°Ð·Ð¸Ð»Ð¸Ñ,Brasilien,Brezilya,Brasil,å·´è¥¿
4,Japan,"115,845,120","127,484,450",5,90.87%,23,Japan,JPN,East Asia & Pacific,High income,...,æ—¥æœ¬,ì¼ë³¸,Japan,Japonia,JapÃ£o,Ð¯Ð¿Ð¾Ð½Ð¸Ñ,Japan,Japonya,Nháº­t Báº£n,æ—¥æœ¬
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178,San Marino,"20,100","33,400",204,60.18%,102,San Marino,SMR,Europe & Central Asia,High income,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,Kiribati,"16,971","116,398",205,14.58%,185,Kiribati,KIR,East Asia & Pacific,Lower middle income,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,British Virgin Islands,"14,456","31,196",206,37.60% (2012),141,British Virgin Islands,VGB,Latin America & Caribbean,High income,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,Nauru,"6,475","11,359",208,57.00%,110,Nauru,NRU,East Asia & Pacific,High income,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,Tuvalu,"5,520","11,192",209,49.32%,124,Tuvalu,TUV,East Asia & Pacific,Upper middle income,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN